<html>
<head>
<script src="../js/revisao.js" type="text/javascript">
	
</script>
</head>
<body>

	<div id="display"></div>

	<div id="campos">
		Nome: <input type="text" id="txtNome" value=""> <input
			type="button" value="+" onclick="novoContato()" /> <input
			type="button" value="ok" onclick="exibeNome()" /> <input
			type="button" value="show ctt" onclick="imprimeContatos()" />
	</div>
	<form name="frmContatos">
		<div id="listaContatos"></div>

	</form>
	<div id="saidaContatos"></div>

	<script>
		function Pessoa(nome, idade) {
			this.nome = nome;
			this.idade = idade;
		}
		
		Pessoa.prototype.dizerOi = function (){window.alert("Oi")};
		
		var p1 = new Pessoa("Jão", 35);
		console.log(p1.nome);
		console.log(p1.idade);
	</script>


</body>

</html>